.searched-wrapper{
    display:flex;
    width: 80%;
    margin:20px auto;
    height:60vh;
    justify-content: space-around;

}

.flags{
    display: flex;
    width: 50%;
    gap: 10px;

    .coat-of-arm{
        flex:2;
        

        img{
            width: 250px;
        height: 250px;

        }
    }

    .mainflag{
        flex:4;
        width: 5vw;
        height: 40vh;

        img{
            height: 100%;
            width: 100%;
        }
    }

}