.card-container{
    border-radius: 20px;
    box-shadow:5px -2px 41px 9px rgba(0,0,0,0.1);
    width: 250px;
    margin-top:30px;
    
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    height: 40vh;

    img{
        width: 100%;
        height: 50%;
        border-bottom: rgb(223, 217, 217) 1px solid;
        
        
    }

&:hover{
    cursor: pointer;
    transform: scale(1.2) translate(11px,11px);
-webkit-transform: scale(1.2) translate(11px,11px);
-moz-transform: scale(1.2) translate(11px,11px);
z-index: 55;
}


}


.card-body{
    display:flex;
    margin:10px;
    justify-content: space-between;

}