.header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3945;
    color:white;
    padding-left: 2rem;
    margin-top: 0;
    
   
    h3{
        color:rgb(241, 234, 234);
        text-decoration: none;
    }


    .color-mode{
        margin-right: 7rem;
    }


}